@import '../../../styles/settings';

.search-box-main {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-box-select {
    display: flex;
    align-items: center;
    box-shadow: $box-shadow;
    padding: 0 20px;
    border-radius: $radius;

    input {
      font-size: $big-size;
      outline: none;
      height: 40px;
      margin-left: 10px;
      width: 105px;
      padding-left: 10px;
      background-color: inherit;
      color: $color-back;
    }

    button {
      background-color: $color-background;
    }
  }
}
