$base-size: 14px;
$base-middle: 18px;
$big-size: 20px;
$small-size: 12px;

$color-text: #333;
$color-text-light: #666;
$color-background: #fff;
$color-primary: #009DDE;
$color-success: #01916d;
$color-info: #2b7cb3;
$color-info-back: #00a8ff;
$color-success-back: #44bd32;
$color-error-back: #e84118;
$color-warning-back: #f39c12;
$color-alert-text: #f5f6fa;
$color-danger: #f0932b;
$color-class-box-back: #7bed9f;
$color-class-box-active: #2ed573;
$color-diary-box-back: #a29bfe;
$color-unset: #dfe4ea;
$color-set: #f1f2f6;
$color-off: #a4b0be;
$color-body: #8395a7;
$color-teachers-list: #badc58;
$color-back: #343A40;


$font-text: 'Roboto', sans-serif;

$radius: 5px;
$box-shadow: 3px 3px 10px rgba(0, 0, 0, .8);
$radius-alert: 10px;
$transition2: all 0.1s;
