.main-menu {
  display: flex;
  justify-content: flex-end;

  .list-box {
    display: inline-flex;
    align-items: center;
    margin: 0;
    height: 50px;

    li {
      margin: 0 10px;
    }
  }
}
