@import "../../../styles/settings";

.info-box-main {
  width: 50%;
  margin-top: 40px;
  margin-right: 20px;
}

.info-box-spinner {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
